In [1]:
import pandas as pd

C:\Users\Louis\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_html('https://fbref.com/en/comps/9/stats/Premier-League-Stats')

In [3]:
for idx,table in enumerate(df):
 print("***************************")
 print(idx)
 print(table)

***************************
0
   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Arsenal                 25               25.6
1         Aston Villa                 30               27.6
2         Bournemouth                 28               26.4
3           Brentford                 28               27.4
4            Brighton                 28               26.7
5             Burnley                 31               25.2
6             Chelsea                 30               25.0
7      Crystal Palace                 26               27.6
8             Everton                 25               27.6
9              Fulham                 25               29.2
10          Liverpool                 29               27.0
11         Luton Town                 26               27.5
12    Manchester City                 25               27.3
13     Manchester Utd                 30               27.0
14      Newcastle Utd                 32               28.0
15    Nott'ham Forest                 33               26.4
16      Sheffield Utd                 33               26.6
17          Tottenham                 28               25.9
18           West Ham                 24               28.9
19             Wolves                 26               27.4

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                60.2           30    330  2700  30.0          68  48  ...
1                54.2           31    341  2790  31.0          60  44  ...
2                45.2           30    330  2700  30.0          43  32  ...
3                44.3           31    341  2790  31.0          41  26  ...
4                61.8           30    330  2700  30.0          47  35  ...
5                46.3           31    341  2790  31.0          31  24  ...
6                58.5           29    319  2610  29.0          52  35  ...
7                42.1           30    330  2700  30.0          34  25  ...
8                40.6           30    330  2700  30.0          31  14  ...
9                51.0           31    341  2790  31.0          46  34  ...
10               60.7           30    330  2700  30.0          66  51  ...
11               41.9           31    341  2790  31.0          40  28  ...
12               65.3           30    330  2700  30.0          66  49  ...
13               50.2           30    330  2700  30.0          43  29  ...
14               53.3           30    330  2700  30.0          63  41  ...
15               40.6           31    341  2790  31.0          39  34  ...
16               34.8           30    330  2700  30.0          24  13  ...
17               61.1           30    330  2700  30.0          58  49  ...
18               41.1           31    341  2790  31.0          49  36  ...
19               48.0           30    330  2700  30.0          40  33  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            2.27  1.60  3.87  2.00   3.60  1.93  1.35   3.28  1.73     3.08
1            1.94  1.42  3.35  1.81   3.23  1.72  1.28   3.00  1.62     2.91
2            1.43  1.07  2.50  1.40   2.47  1.50  1.09   2.59  1.45     2.54
3            1.32  0.84  2.16  1.23   2.06  1.58  1.12   2.70  1.51     2.63
4            1.57  1.17  2.73  1.40   2.57  1.57  1.16   2.72  1.45     2.60
5            1.00  0.77  1.77  0.94   1.71  1.01  0.75   1.76  0.96     1.71
6            1.79  1.21  3.00  1.45   2.66  1.98  1.34   3.32  1.68     3.02
7            1.13  0.83  1.97  1.00   1.83  1.15  0.89   2.04  1.04     1.94
8            1.03  0.47  1.50  1.00   1.47  1.49  1.05   2.55  1.44     2.49
9            1.48  1.10  2.58  1.42   2.52  1.35  0.98   2.34  1.30     2.29
10           2.20  1.70  3.90  2.03   3.73  2.24  1.62   3.86  2.02     3.64
11           1.29  0.90  2.19  1.16   2.06  1.17  0.82   1.99  1.07     1.89
12           2.20  1.63  3.83  2.07   3.70  2.03  1.58   3.61  1.91     3.49
13           1.43  0.97  2.40  1.30   2.27  1.51  1.08   2.59  1.38     2.46
14           2.10  1.37  3.47  1.87   3.23  1.92  1.25   3.17  1.74     2.98
15           1.26  1.10  2.35  1.23   2.32  1.26  1.01   2.26  1.23     2.24
16           0.80  0.43  1.23  0.67   1.10  0.92  0.58   1.50  0.82     1.40
17           1.93  1.63  3.57  1.90   3.53  1.77  1.52   3.30  1.75     3.27
18           1.58  1.16  2.74  1.48   2.65  1.42  0.95   2.37  1.31     2.27
19           1.33  1.10  2.43  1.23   2.33  1.33  0.93   2.27  1.25     2.19

[20 rows x 32 columns]
***************************
1
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                Age
0           vs Arsenal                 25               27.2
1       vs Aston Villa                 30               27.1
2       vs Bournemouth                 28               27.0
3         vs Brentford                 28               26.7
4          vs Brighton                 28               27.2
5           vs Burnley                 31               27.0
6           vs Chelsea                 30               27.0
7    vs Crystal Palace                 26               26.8
8           vs Everton                 25               27.3
9            vs Fulham                 25               26.7
10        vs Liverpool                 29               26.7
11       vs Luton Town                 26               27.0
12  vs Manchester City                 25               27.0
13   vs Manchester Utd                 30               27.1
14    vs Newcastle Utd                 32               27.0
15  vs Nott'ham Forest                 33               27.1
16    vs Sheffield Utd                 33               27.3
17        vs Tottenham                 28               27.4
18         vs West Ham                 24               26.8
19           vs Wolves                 26               27.2

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                39.8           30    330  2700  30.0          23  18  ...
1                45.8           31    341  2790  31.0          43  36  ...
2                54.8           30    330  2700  30.0          52  34  ...
3                55.7           31    341  2790  31.0          55  44  ...
4                38.2           30    330  2700  30.0          44  30  ...
5                53.7           31    341  2790  31.0          64  46  ...
6                41.5           29    319  2610  29.0          49  33  ...
7                57.9           30    330  2700  30.0          49  42  ...
8                59.4           30    330  2700  30.0          39  25  ...
9                49.0           31    341  2790  31.0          46  30  ...
10               39.3           30    330  2700  30.0          26  17  ...
11               58.1           31    341  2790  31.0          61  42  ...
12               34.7           30    330  2700  30.0          28  21  ...
13               49.8           30    330  2700  30.0          43  30  ...
14               46.7           30    330  2700  30.0          51  39  ...
15               59.4           31    341  2790  31.0          52  38  ...
16               65.2           30    330  2700  30.0          75  56  ...
17               38.9           30    330  2700  30.0          42  27  ...
18               58.9           31    341  2790  31.0          53  38  ...
19               52.0           30    330  2700  30.0          46  34  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            0.77  0.60  1.37  0.73   1.33  0.69  0.51   1.20  0.64     1.15
1            1.39  1.16  2.55  1.39   2.55  1.51  1.29   2.79  1.51     2.79
2            1.73  1.13  2.87  1.60   2.73  1.53  1.03   2.57  1.40     2.43
3            1.77  1.42  3.19  1.71   3.13  1.51  1.22   2.73  1.46     2.68
4            1.47  1.00  2.47  1.30   2.30  1.40  0.95   2.35  1.27     2.22
5            2.06  1.48  3.55  1.87   3.35  1.79  1.32   3.11  1.64     2.96
6            1.69  1.14  2.83  1.59   2.72  1.49  1.02   2.51  1.36     2.38
7            1.63  1.40  3.03  1.53   2.93  1.40  1.07   2.47  1.32     2.39
8            1.30  0.83  2.13  1.07   1.90  1.45  0.98   2.42  1.27     2.25
9            1.48  0.97  2.45  1.29   2.26  1.72  1.20   2.92  1.57     2.77
10           0.87  0.57  1.43  0.83   1.40  1.18  0.83   2.02  1.16     1.99
11           1.97  1.35  3.32  1.90   3.26  2.04  1.52   3.56  2.00     3.51
12           0.93  0.70  1.63  0.83   1.53  0.97  0.72   1.69  0.89     1.61
13           1.43  1.00  2.43  1.27   2.27  1.79  1.33   3.12  1.66     2.99
14           1.70  1.30  3.00  1.57   2.87  1.73  1.28   3.02  1.60     2.88
15           1.68  1.23  2.90  1.58   2.81  1.44  1.00   2.43  1.36     2.36
16           2.50  1.87  4.37  2.40   4.27  2.01  1.46   3.47  1.88     3.34
17           1.40  0.90  2.30  1.20   2.10  1.62  1.08   2.69  1.48     2.55
18           1.71  1.23  2.94  1.48   2.71  1.81  1.25   3.06  1.58     2.83
19           1.53  1.13  2.67  1.37   2.50  1.67  1.27   2.94  1.54     2.81

[20 rows x 32 columns]

In [4]:
for_prem = pd.DataFrame(df[0])

In [5]:
against_prem = pd.DataFrame(df[1])

In [6]:
for_prem.drop(columns=["Per 90 Minutes"], inplace=True)
for_prem.columns = for_prem.columns.droplevel()
for_pred = for_prem[['Squad','Gls','npxG','PrgP']]

C:\Users\Louis\AppData\Local\Temp\ipykernel_15000\96057604.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  for_prem.drop(columns=["Per 90 Minutes"], inplace=True)

In [7]:
against_prem.drop(columns=["Per 90 Minutes"], inplace=True)
against_prem.columns = against_prem.columns.droplevel()
against_pred = against_prem[['Squad','Gls','npxG','PrgP']]
against_pred = against_pred.rename({'Gls':'GlsA', 'npxG':'npxGA','PrgP':'PrgPA'}, axis=1)
against_pred['Squad'] = against_pred['Squad'].str.replace('vs', '')

C:\Users\Louis\AppData\Local\Temp\ipykernel_15000\42520102.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  against_prem.drop(columns=["Per 90 Minutes"], inplace=True)

In [8]:
final_pred = pd.merge(for_pred, against_pred, left_index=True, right_index=True, suffixes=('', '_right'))
final_pred.drop(columns=["Squad_right"], inplace=True)
final_pred

              Squad  Gls  npxG  PrgP  GlsA  npxGA  PrgPA
0           Arsenal   68  51.9  1697    23   19.2    691
1       Aston Villa   60  50.4  1256    43   46.7    977
2       Bournemouth   43  43.4  1077    52   41.9   1179
3         Brentford   41  46.7  1056    55   45.3   1348
4          Brighton   47  43.4  1492    44   38.1    913
5           Burnley   31  29.8   925    64   50.9   1213
6           Chelsea   52  48.7  1267    49   39.4   1013
7    Crystal Palace   34  31.3   891    49   39.6   1396
8           Everton   31  43.2   917    39   38.2   1256
9            Fulham   46  40.4  1219    46   48.7   1237
10        Liverpool   66  60.6  1599    26   34.7    942
11       Luton Town   40  33.1   888    61   61.9   1252
12  Manchester City   66  57.2  1633    28   26.6    658
13   Manchester Utd   43  41.4  1178    43   49.8   1236
14    Newcastle Utd   63  52.1  1230    51   48.0   1050
15  Nott'ham Forest   39  38.2   911    52   42.1   1570
16    Sheffield Utd   24  24.5   644    75   56.3   1604
17        Tottenham   58  52.4  1654    42   44.3    873
18         West Ham   49  40.7   987    53   48.9   1709
19           Wolves   40  37.6   961    46   46.3   1365

In [9]:
final_pred['GD'] = final_pred['Gls']/(final_pred['Gls']+final_pred['GlsA'])
final_pred['npxGD']= final_pred['npxG']/(final_pred['npxG']+final_pred['npxGA'])
final_pred['PrgPD']= final_pred['PrgP']/(final_pred['PrgP']+final_pred['PrgPA'])
final_pred.head()

,Squad,Gls,npxG,PrgP,GlsA,npxGA,PrgPA,GD,npxGD,PrgPD
0,Arsenal,68,51.9,1697,23,19.2,691,0.747253,0.729958,0.710637
1,Aston Villa,60,50.4,1256,43,46.7,977,0.582524,0.519053,0.562472
2,Bournemouth,43,43.4,1077,52,41.9,1179,0.452632,0.508792,0.477394
3,Brentford,41,46.7,1056,55,45.3,1348,0.427083,0.507609,0.439268
4,Brighton,47,43.4,1492,44,38.1,913,0.516484,0.532515,0.620374

In [10]:
prem = final_pred[['Squad','GD', 'npxGD','PrgPD']].copy()
print(prem)

              Squad        GD     npxGD     PrgPD
0           Arsenal  0.747253  0.729958  0.710637
1       Aston Villa  0.582524  0.519053  0.562472
2       Bournemouth  0.452632  0.508792  0.477394
3         Brentford  0.427083  0.507609  0.439268
4          Brighton  0.516484  0.532515  0.620374
5           Burnley  0.326316  0.369269  0.432647
6           Chelsea  0.514851  0.552781  0.555702
7    Crystal Palace  0.409639  0.441467  0.389593
8           Everton  0.442857  0.530713  0.421997
9            Fulham  0.500000  0.453423  0.496336
10        Liverpool  0.717391  0.635887  0.629280
11       Luton Town  0.396040  0.348421  0.414953
12  Manchester City  0.702128  0.682578  0.712789
13   Manchester Utd  0.500000  0.453947  0.487987
14    Newcastle Utd  0.552632  0.520480  0.539474
15  Nott'ham Forest  0.428571  0.475716  0.367191
16    Sheffield Utd  0.242424  0.303218  0.286477
17        Tottenham  0.580000  0.541882  0.654531
18         West Ham  0.480392  0.454241  0.366098
19           Wolves  0.465116  0.448153  0.413156

In [11]:
prem.GD=prem.GD.round(2)
prem.npxGD=prem.npxGD.round(2)
prem.PrgPD=prem.PrgPD.round(2)
prem

              Squad    GD  npxGD  PrgPD
0           Arsenal  0.75   0.73   0.71
1       Aston Villa  0.58   0.52   0.56
2       Bournemouth  0.45   0.51   0.48
3         Brentford  0.43   0.51   0.44
4          Brighton  0.52   0.53   0.62
5           Burnley  0.33   0.37   0.43
6           Chelsea  0.51   0.55   0.56
7    Crystal Palace  0.41   0.44   0.39
8           Everton  0.44   0.53   0.42
9            Fulham  0.50   0.45   0.50
10        Liverpool  0.72   0.64   0.63
11       Luton Town  0.40   0.35   0.41
12  Manchester City  0.70   0.68   0.71
13   Manchester Utd  0.50   0.45   0.49
14    Newcastle Utd  0.55   0.52   0.54
15  Nott'ham Forest  0.43   0.48   0.37
16    Sheffield Utd  0.24   0.30   0.29
17        Tottenham  0.58   0.54   0.65
18         West Ham  0.48   0.45   0.37
19           Wolves  0.47   0.45   0.41

In [12]:
Arsenal = prem.loc[(prem['Squad'] == 'Arsenal')]
AstonVilla = prem.loc[(prem['Squad'] == 'Aston Villa')]
Bournemouth = prem.loc[(prem['Squad'] == 'Bournemouth')]
Brentford = prem.loc[(prem['Squad'] == 'Brentford')]
Brighton = prem.loc[(prem['Squad'] == 'Brighton')]
Burnley = prem.loc[(prem['Squad'] == 'Burnley')]
Chelsea = prem.loc[(prem['Squad'] == 'Chelsea')]
Palace = prem.loc[(prem['Squad'] == 'Crystal Palace')]
Everton = prem.loc[(prem['Squad'] == 'Everton')]
Fulham = prem.loc[(prem['Squad'] == 'Fulham')]
Liverpool = prem.loc[(prem['Squad'] == 'Liverpool')]
LutonTown = prem.loc[(prem['Squad'] == 'Luton Town')]
ManCity = prem.loc[(prem['Squad'] == 'Manchester City')]
ManUnited = prem.loc[(prem['Squad'] == 'Manchester Utd')]
Newcastle = prem.loc[(prem['Squad'] == 'Newcastle Utd')]
Forest = prem.loc[(prem['Squad'] == "Nott'ham Forest")]
SheffUtd = prem.loc[(prem['Squad'] == 'Sheffield Utd')]
Spurs = prem.loc[(prem['Squad'] == 'Tottenham')]
WestHam= prem.loc[(prem['Squad'] == 'West Ham')]
Wolves = prem.loc[(prem['Squad'] == 'Wolves')]

In [13]:
print(WestHam)
print(Fulham)

       Squad    GD  npxGD  PrgPD
18  West Ham  0.48   0.45   0.37
    Squad   GD  npxGD  PrgPD
9  Fulham  0.5   0.45    0.5